@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_WebsiteLayout";
}
<style>
    .about
    {
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .about1 
    {
        height: 100%;
        width: 60%;
        text-align: center;
    }
    .about1 h2
    {
        font-size: 35px;
    }

        .about1 p {
            font-size: 22px;
        }
    .about2 
    {
        height: 100%;
        width: 40%:
    }
    .about2 img
    {
            height: 180px;
            width: 180px;
            margin-top: 50px;
            margin-left: 50px;
            border-radius: 25px;
    }

    .aboutsec {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .about3 {
        height: 100%;
        width: 40%;
        float: left;
    }

        .about3 img {
            height: 180px;
            width: 180px;
            margin-top: 50%;
            margin-left: 40%;
            border-radius: 25px;
        }

    .about4 {
        height: 100%;
        width: 60%;
        margin: 40px;
        margin-right: 14%;
        text-align: center;
        float: right;
    }

        .about4 h2 {
            font-size: 35px;
        }

        .about4 p {
            font-size: 22px;
        }
</style>
<!--about start-->
<h1 class="text-center mt-5 mb-5">About</h1><hr class="ms-5 me-5" />
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="about">
            <div class="about1">
                <h2>The Online Education</h2>
                <p>
                    Online learning involves courses offered by primary institutions that are 100%
                    virtual. Online learning, or virtual classes offered over the internet, is
                    contrasted with traditional courses taken in a brick-and-mortar school building.
                    It is a development in distance education that expanded in the 1990s with the
                    spread of the commercial Internet and the World Wide Web.
                </p>
            </div>
            <div class="about2">
                <img src="~/images/stu2.jpg">
            </div>
        </div>
    </div>
</div>
<!--2-->

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="aboutsec">
            <div class="about3">
                <img src="~/images/stu5.jpg">
            </div>
            <div class="about4">
                <h2>Learning Management System (LMS)</h2>
                <p>
                    Most online learning occurs through a college's or university's learning
                    management system (LMS). A LMS is a software application for maintaining,
                    delivering, and tracking educational resources. According to the Educause Center
                    for Analysis and Research (ECAR) use of a LMS is nearly ubiquitous as 99% of
                    colleges and universities report having one in place.
                </p>
            </div>
        </div>
    </div>
</div>
<!--3-->
 <div class="row mb-5">
     <div class="col-sm-1"></div>
     <div class="col-sm-10">
        <div class="about">
            <div class="about1">
                <h2>Digital Learning</h2>
                <p>
                    Digital learning is learning that is supported by technology. It encompasses any
                    type of learning that is accompanied by technology or by instructional practice
                    that makes effective use of technology. It includes a wide array of practices,
                    including blended and virtual learning.
                </p>
            </div>
            <div class="about2">
                <img src="~/images/stu4.jpg">
            </div>
        </div>
     </div>
 </div>
<!--about end-->