@model IEnumerable<OnlineEducation.Models.managecourse>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_WebsiteLayout";
    ViewBag.title = "Courses";
}
<style>
    .col
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .card
    {
        padding: 10px;
        margin: 10px;
    }
    .card img
    {
        height:200px;
        width:100%;
    }
</style>
<h1 class="text-center mt-5 mb-5">Our Courses</h1><hr class="ms-5 me-5" />
<div class="row">
    <div class="col-sm-12 col">
            @foreach(var data in Model)
            {
            <div class="card">
                <img src="~/CoursePicture/@data.coursepic" />
                <h5 class="text-center">@data.title</h5>
                <p>@data.coursedetail</p>
                <h4>Rs : @data.price</h4>
                <a class="btn btn-warning text-center" asp-action="PurchaseNow">Purchase Now</a>
            </div>
            }
    </div>
</div>