@model OnlineEducation.Models.register
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_WebsiteLayout";
}

<div class="row mt-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header text-bg-primary text-center">
                <h4>Register Now</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-action="SaveRegister">
                    <label>Name</label>
                    <input type="text" asp-for="name" class="form-control" />
                    <label>Email</label>
                    <input type="email" asp-for="email" class="form-control" />
                    <label>Mobile</label>
                    <input type="number" asp-for="mobile" class="form-control" />
                    <label>City</label>
                    <input type="text" asp-for="city" class="form-control" />
                    <label>Password</label>
                    <input type="password" asp-for="password" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>